.profile-section {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  div {
    margin-left: 1rem;
  }
  
  h1 {
    margin-bottom: 2rem;
    text-align: center;
    color: #006699;
    font-size: 30px;
  }
  
  /* Customizing individual sections */
  
  .profile-section label {
    color: #666;
    font-size: 20px;
  }
  
  .profile-section div {
    color: #333;
  }
  
  .profile-section:nth-child(odd) {
    background-color: #f5f5f5;
    font-size: 20px;
  }
  
  .profile-section:nth-child(even) {
    background-color: #e0e0e0;
    font-size: 20px;
  }
  
  /* Styling loading message */
  
  .loading {
    text-align: center;
    color: #666;
    font-style: italic;
    margin-top: 2rem;
  }
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-section label {
    flex-basis: 30%;
    font-weight: bold;
  }
  
  .profile-section .data {
    flex-basis: 70%;
  }
  